<six-details class="mt-2 details-container" summary="Incident History">
<!--  To be done: ngfor etc.-->
  <div class="details-content">
    <div class="icon-container">
      <six-icon>settings</six-icon>
    </div>
    <div class="text-container">
      <div class="font-bold">Network outage</div>
      <p class="description">
        A network outage occurred, leading to disrupted services and loss of connectivity. Our team quickly identified the problem, which was due to an unexpected server overload. We worked diligently to reroute the traffic and restore the affected services. We apologize for any inconvenience this may have caused and appreciate your patience as we worked to fix the issue.
      </p>
      <p class="text-gray-500">Sep 15, 14:33 - 15:06 UTC</p>
      <p class="font-bold text-green-500">Resolved</p>
    </div>
  </div>
  <div class="details-content mt-2">
    <div class="icon-container">
      <six-icon>settings</six-icon>
    </div>
    <div class="text-container">
      <div class="font-bold">Datacenter power outage</div>
      <p class="description">  An unexpected power outage at one of our data centers resulted in connectivity issues and temporary unavailability of some of our services. Our team was immediately alerted and began investigations, identifying the power outage as the root cause. The power was restored and all services were back online within the given time window. We sincerely apologize for any inconvenience caused.</p>
      <p class="text-gray-500">Sep 16, 14:33 - tbd UTC</p>
      <p class="font-bold text-orange-500">Ongoing</p>
    </div>
  </div>
</six-details>
