<div class="mr-8  mt-1">
  <div [ngClass]="{'text-emerald-500': status=='ok', 'text-orange-500': status=='degraded', 'text-red-700': status=='serious'}"
       class="flex gap-3 items-center text-emerald-500">
    <div [ngSwitch]="status">
      <six-icon *ngSwitchCase="'ok'" class="text-3xl">check_circle</six-icon>
      <six-icon *ngSwitchCase="'degraded'" class="text-3xl">warning_amber</six-icon>
      <six-icon *ngSwitchCase="'serious'" class="text-3xl">error_outline</six-icon>
    </div>
    <div>
      <div>Average Latency</div>
      <pre class="text-lg">{{ service.avgLatency }} ms</pre>
    </div>
  </div>
</div>
