<div *ngIf="canvasIds && canvasIds.length > 0; else Empty">
  <div *ngFor="let service of services" class="mb-10">
    <h1 class="text-3xl my-3">{{ service.serviceName }} {{ service.serviceVersion }}</h1>
    <div class="flex flex-wrap items-center justify-center">
      <div class="w-1/2 md:w-1/6 flex flex-col justify-center items-center p-2">
        <h2 class="font-bold mb-3 text-gray-600">Total</h2>
        <canvas [id]="'pie-chart-' + service.serviceName">{{ getPieChart(service) }}</canvas>
      </div>
      <div class="w-full md:w-5/6 p-2">
        <canvas [id]="'chart-' + service.serviceName">{{ getBarChart(service) }}</canvas>
      </div>
    </div>
  </div>
</div>

<ng-template #Empty>
  <div class="flex justify-center mt-28 text-gray-600">
    no data
  </div>
</ng-template>
