<div class="container xl:px-52 mx-auto">
  <div *ngIf="participantStatusDetails$|async as participantStatusDetails; else Loading">
    <h1 class="text-4xl">{{ participantStatusDetails.name }} - {{ date$ | async | date: "dd.MM.YYYY" }}</h1>
  </div>
  <app-charts [canvasIds]="(canvasIds$|async)||[]"
              [participantStatusDetails]="participantStatusDetails$|async"></app-charts>

  <ng-template #Loading>
    <div class="flex justify-center mt-28">
      <six-spinner class="text-8xl"></six-spinner>
    </div>
  </ng-template>
</div>
