<div class="container xl:px-52 mx-auto">
  <h1 class="text-3xl mt-10">bLink Status</h1>
  <six-alert open type="warning">
    <six-icon>warning</six-icon>
    O-oh...
  </six-alert>
  <app-status-row (bubbleClick)="onClickStatusBubble($event)" [statusRow]="blinkStatus"></app-status-row>

  <h1 class="text-3xl mt-10">External Services</h1>

  <div class="p-5 border rounded-lg flex flex-col gap-3">
    <div *ngFor="let statusRow of statusRows">
      <h2 class="text-2xl mt-3">{{ statusRow.service }}</h2>
      <app-status-row (bubbleClick)="onClickStatusBubble($event)" [statusRow]="statusRow"></app-status-row>
    </div>
  </div>
</div>
