<div class="mx-auto xs:w-full sm:w-full md:w-3/4">
  <div *ngIf="internalServices$ | async as internalServices; else Loading">
    <div *ngFor="let statusRow of internalServices" class="mb-5">
      <h1 class="text-3xl">{{ statusRow.participantName }}</h1>
      <app-status-row (bubbleClick)="onClickStatusBubble($event)"
                      [statusRow]="statusRow"></app-status-row>
    </div>
  </div>


  <div *ngIf="externalServices$ | async as externalServices;">
    <h1 class="text-3xl mt-10">External Services</h1>
    <div class="p-5 border rounded-lg flex flex-col gap-3">
      <div *ngFor="let statusRow of externalServices" class="mb-5">
        <h2 class="text-2xl mt-3">{{ statusRow.participantName }}</h2>
        <app-status-row (bubbleClick)="onClickStatusBubble($event)" [statusRow]="statusRow"></app-status-row>
      </div>
    </div>
  </div>

  <ng-template #Loading>
    <div class="flex justify-center mt-28">
      <six-spinner class="text-8xl"></six-spinner>
    </div>
  </ng-template>
</div>
